.imageItem {
  composes: flexColumnBlock from "../PageContainer/pageContainer.module.css";
  position: relative;
  width: 275px;
  height: 380px;
  margin-bottom: 24px;
  background: #272a2e;
  overflow: hidden;
  cursor: pointer;
}

/* --- for CardHover --- */
.cardWrapper {
  composes: flexColumnBlock from "../PageContainer/pageContainer.module.css";
  position: absolute;
  top: 275px;
  width: 275px;
  height: 355px;
  padding: 32px 40px 8px 24px;
  padding: 17px 40px 8px 26px;
  background: #272a2e;
  transition: top 0.3s linear 0s, padding-top 0.03s linear 0s;
}

.descriptionBlock {
  position: relative;
}

.serviceDescription {
  position: relative;
  padding-left: 16px;
  margin-bottom: 16px;
  font-family: var(--font-kanit);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.colorMarker {
  position: absolute;
  left: -4px;
  top: 7px;
  width: 8px;
  height: 8px;
  background-color: white;
}

/* SVG animation */

.svgContainer {
  position: absolute;
  bottom: 5px;
  right: 0;
  width: 30px;
  height: 30px;
}

.list {
  padding: 15px 25px;
  line-height: 24px;
}

.listTitle {
  color: #c0c0c0;
  list-style-type: disc;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 27px;
  margin-left: 13px;
  font-family: var(--font-roboto-mono);
}
