.imageItem {
  composes: flexColumnBlock from '../PageContainer/pageContainer.module.css';
  position: relative;
  width: 275px;
  /* height: 355px; */
  height: 380px;
  margin-bottom: 24px;
  background: #272a2e;
  overflow: hidden;
  cursor: pointer;
}

.imageItem:hover .cardWrapper {
  top: 0px;
  padding-top: 32px;
}

.imageItem:hover .cardWrapper ul {
  opacity: 1;
}

.imageItem:hover .arrowBlock {
  transform: rotate(-45deg);
}

.arrowBlock {
  position: absolute;
  bottom: 10px;
  right: 10px;
  width: 13px;
  height: 13px;
  background-image: url(../../public/arrow_rb.svg);
  background-repeat: no-repeat;
  background-position: center;
  transition: transform 0.2s linear;
  transform: rotate(0deg);
}

/* --- for CardHover --- */
.cardWrapper {
  composes: flexColumnBlock from '../PageContainer/pageContainer.module.css';
  position: absolute;
  top: 275px;
  width: 275px;
  height: 355px;
  padding: 32px 40px 8px 24px;
  padding: 17px 40px 8px 26px;
  background: #272a2e;
  transition: top 0.3s linear 0s, padding-top 0.03s linear 0s;
}

.cardWrapper ul {
  padding: 0 0 0 16px;
  font-family: var(--font-roboto-mono);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.02em;
  list-style: disc;
  color: #c0c0c0;
  opacity: 0;
}

.cardWrapper li {
  margin-bottom: 4px;
}

.descriptionBlock {
  position: relative;
}

.serviceDescription {
  position: relative;
  padding-left: 16px;
  margin-bottom: 16px;
  font-family: var(--font-kanit);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.colorMarker {
  position: absolute;
  left: -4px;
  top: 7px;
  width: 8px;
  height: 8px;
  background-color: white;
}
