.typesItemWrapper {
  composes: flexColumnBlock from '../../components/PageContainer/pageContainer.module.css';
  border-bottom: 1px solid #36383c;
}

.companyTypesItem {
  composes: flexRowBlock from '../../components/PageContainer/pageContainer.module.css';
  align-items: center;
  height: 64px;
  cursor: pointer;
}

.typesTitle {
  composes: mainKatinParagraph from '../../components/PageContainer/pageContainer.module.css';
  font-weight: 600;
  letter-spacing: 0.08em;
}

.signBlock {
  width: 16px;
  background-image: url(../../public/plus_v.svg), url(../../public/plus_h.svg);
  background-repeat: no-repeat;
  background-position: center;
  transition: height 0.2s ease-out;
}

.typesText {
  composes: mainRobotoParagraph from '../../components/PageContainer/pageContainer.module.css';
  transition: opacity 0.2s ease-out, height 0.25s ease-out,
    margin-bottom 0.2s ease-out;
}
