.topBox {
  composes: flexRowBlock from '../../components/PageContainer/pageContainer.module.css';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  align-items: center;
  padding: 34px 32px 0;
  z-index: 7;
}

.imageBox {
  cursor: pointer;
}

.contentClass {
  composes: allToZero from '../ContactUs/styles.module.css';
  z-index: 99;
}
