/* Technology Stack */
.listContainer {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid var(--border-grey);
  width: 100%;
  flex-wrap: wrap;
  padding: 20px 0px;
}

.titleList {
  font-family: var(--font-roboto-mono);
  color: var(--preset-color);
  flex-basis: 50%;
  flex-grow: 1;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}

.listContainer2 {
  display: flex;
  flex-wrap: wrap;
  flex-basis: 50%;
  flex-grow: 1;
  justify-content: flex-end;
}

.itemList {
  font-family: var(--font-roboto-mono);
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: var(--white);
}

.listContainer:last-child {
  border-bottom: none;
  padding-bottom: 0;
}

.listContainer:first-of-type {
  padding-top: 0;
}

.container {
  width: 100%;
}
