.container {
  width: 100%;
}

.wrapper {
  background-color: #272a2e;
  padding: 30px 30px 10px 30px;
  margin: 20px 0;
  position: relative;
  cursor: pointer;
}

.desc {
  color: #b3b3b3;
  margin: 0 0 30px 0;
  font-family: "Roboto Mono", monospace;
  font-size: 16px;
  line-height: 1.6;
}

.headText {
  font-family: "Kanit", sans-serif;
  color: #fff;
  font-size: 20px;
  margin: 25px 0;
}
.list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 20px 0;
  color: #b3b3b3;
  align-items: center;
  gap: 10px;
  font-family: "Roboto Mono", monospace;
  font-size: 16px;
}

.listItem {
  color: #b3b3b3;
  padding: 7px 12px;
  border: 1px solid #545454;
  display: flex;
  align-items: center;
  gap: 10px;
  font-family: "Roboto Mono", monospace;
  font-size: 16px;
}

.listBullet {
  display: inline-block;
  width: 5px;
  height: 5px;
  background-color: #eb3795;
}

.wrapper:hover {
  background-color: #212325;
  transition: background-color 0.3s ease-in-out;
}

.imageContainer {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.imageDiv {
  background-image: url("../../public/cassesArrowA.png");
  background-size: cover;
  background-position: center;
  width: 15px;
  height: 15px;
  background-repeat: no-repeat;
  transition: all 0.2s ease-in-out;
}

.wrapper:hover .imageDiv {
  transform: rotate(-45deg);
}
