.container {
  width: 100%;
  margin-bottom: 50px;
}
.platformsLink {
  background: #272a2e;
  padding: 10px 30px;
  width: 330px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--font-roboto-mono);
  font-size: 16px;
}
/*  animation link  */
.button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 25px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  width: 320px;
  background: #272a2e;
  color: #fff;
  position: relative;
  overflow: hidden;
}

.button::before {
  content: "";
  transform: translateX(0);
  opacity: 1;
  width: 20px;
  height: 2px;
  background-color: #fff;
  transition: transform 0.2s, opacity 0.2s;
  position: absolute;
  left: 10px;
}

.button::after {
  content: url("/gorizont.svg");
  transform: translateX(100%);
  opacity: 0;
  width: 30px;
  height: 17px;
  background-repeat: no-repeat;
  background-position: center;
  transition: transform 0.2s, opacity 0.2s;
  position: absolute;
  right: 10px;
}

.button:hover::before {
  transform: translateX(-30px);
  opacity: 0;
}

.button:hover::after {
  transform: translateX(0);
  opacity: 1;
}

.button:hover span {
  transform: translateX(-10px);
}

.button span {
  transition: transform 0.2s;
  font-family: var(--font-roboto-mono);
  font-size: 16px;
}
.svgContainer {
  position: absolute;
  bottom: 2px;
  right: 2px;
}
