.flexColumnBlock {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.sidebar {
  display: flex;
  align-items: flex-start;
  width: 420px;
  position: relative;
  padding: 80px 0 0 100px;
}

.contentBox {
  composes: flexColumnBlock;
  width: calc(100vw - 420px);
  height: fit-content;
  padding: 92px 114px 92px 135px;
  background: #17191d;
  z-index: 2;
  transition: padding 0.4s ease;

  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: transparent;
  border-image: linear-gradient(
      to bottom,
      transparent,
      rgba(255, 255, 255, 0.3),
      rgba(255, 255, 255, 0.3),
      transparent
    )
    1 100%;
}
