:root {
  /* FONTS */
  --font-kanit: "Kanit", sans-serif;
  --font-roboto-mono: "Roboto Mono", monospace;
  /* SIZE */
  --content-size: 100%;
  /* COLORS */
  --bg-color: #272a2e;
  --bg-card-color: #212325;
  --white: #ffffff;
  --black: #000;
  --grey: #545454;
  --preset-color: #b3b3b3;
  --border-grey: #393939;
  --bg-marker: #eb3795;
  --bg-dark: #17191d;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}
