.flexRowBlock {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.flexColumnBlock {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.mainRobotoParagraph {
  font-family: var(--font-roboto-mono);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.02em;
  color: #b3b3b3;
}
.mainKatinParagraph {
  font-family: var(--font-kanit);
  color: #ffffff;
}

.blockWrapper {
  composes: flexRowBlock;
  width: 100vw;
  height: fit-content;
  /* ----- */
  background-color: #17191d;
}

.sidebar {
  width: 420px;
  padding: 80px 0 0 100px;
  /* ----- */
  /* background-color: #17191d; */
  position: relative;
}

.sidebar::after {
  content: '';
  width: 1px;
  background: #fff;
  /* height: var(--height); */
  height: 39vh;
  position: absolute;
  right: 0;
  top: 0;
}

.title {
  max-width: 272px;
  font-family: var(--font-kanit);
  font-style: normal;
  font-weight: 300;
  font-size: 36px;
  line-height: 48px;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #ffffff;
}

.contentBox {
  composes: flexColumnBlock;
  width: calc(100vw - 420px);
  height: fit-content;
  padding: 92px 114px 92px 135px;
  background: #17191d;
  z-index: 2;
}

.contentText {
  composes: mainRobotoParagraph;
  margin-bottom: 16px;
}
